.footer {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  border-top: 2px solid lightgray;
  padding: 5px;
  background-color: #f7f7f7;
  text-align: center;
  font-weight: bold;

  p {
    font-size: 22px;
  }
}
