.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 600px) {
    .buttons-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);}
  }
}

@media screen and (max-width: 600px) {
  .sign-in-container {
    width: 90%;
    margin: 0 auto;
  }
}
