.authentication-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin: 30px auto;
}

@media only screen and (max-width: 600px) {
  .authentication-container {
    display: -ms-grid;
    display: grid;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    margin: auto;
  }
}
